@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Itim&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: auto;
}

html{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FF8008 0%, #FFC837 100%);
}

.contenedor{
    display: flex;
    justify-content:flex-start;
    position: absolute;
    width: 1852px;
    height: 930px;
    left: 35px;
    top: 20px;
    background: #DFD3C3;
    border-radius: 8px;
}

header{
    background-color: rgba(79, 32, 13, 1);
    position: absolute;
    color: white;
    padding: 10px 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    display: flex;
    justify-content: right;
    
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}
nav a{
    color:white;
    text-decoration: none;
    display: flex;
    justify-content: right;
    font-family:'Roboto Flex', sans-serif;
    ;
}

.logo{
    
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 39px;
    left: 27px;
    filter: drop-shadow(3px 3px 2px #00000046);
}

.mitad{
    display: flex;
    justify-content: center;
    background-color:#FAC213;
    position: absolute;
    width: 926px;
    height: 891px;
    top: 39px;
    border-bottom-left-radius: 6px;
}

.burger{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 605px;
    height: 374px;
    left: 631px;
    top: 298px;
    filter: drop-shadow( 16px 16px 4px #0000004e);
    object-fit: contain;
    animation-name: burgerprincipal;
    animation-duration: 2s;
    cursor: pointer;

}

@keyframes burgerprincipal{
    0% {
        transform: rotate(-2turn);
    }
    
    
    100% {
        transform: rotate(-1turn);
    }
}


.t1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 217px;
    left: 587px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    letter-spacing: 1px;
    filter: drop-shadow(8px 2px 3px #0000008e);
}

.t2{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 330px;
    left: 560px ;
    font-family: 'Archivo Black', sans-serif;
    font-size: 83px;
    filter: drop-shadow(8px 2px 3px #0000008e);
}

.t3{
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    position: absolute;
    top: 398px;
    left: 985px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 82px;
    filter: drop-shadow(8px 2px 3px #0000008e);
}

.nombre{
    color: #4C3D3D;
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: 'Archivo Black', sans-serif;
    font-size:smaller;
    top: 124px ;
    left: 23px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.554));
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 110px; 
}


.hola{
    max-width: 400px;
    max-height: 200px;
    position: relative;
}

.fondo1 {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 257px;
    height: 137px;
    background-color: #E5890A;
    top: 800px; 
    left: 75px;
    border-radius: 0px 0px 30px 30px;
}


.hbs {
    display: flex;
    justify-content: center;
    position: relative;
    left: -3px;
    top: -190px;
    filter: drop-shadow(16px 16px 8px #0000006b);
    object-fit: contain;
}

.hbs.img1{
    width: 420px;
    left: -6px;
    top: 630px;
}
.hbs.img2{
    width: 320px;
    height: 324px;
    left: 35px;
    top: 585px;
}
.hbs.img3{
    width: 340px;
    height: 240px;
    left: 30px;
    top: 628px;
}

.hbs.img4{
    width: 350px;
    left: 31px;
    top: 630px;
}

.hbs:hover{
    transform: translateY(-20px);

}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: #E5890A;
    font-size: 16px;
}







